@import "tailwindcss";

/* Подключение шрифтов */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Определение переменных */
@theme {
  /* Светлая тема */
  /* Backgrounds */
  --color-background-primary: #f9f6f4; /* тёплый белый с кремовым подтоном (натуральное ощущение) */
  --color-background-secondary: #ffffff; /* чистый белый */

  /* Accent Colors */
  --color-accent-primary: #c2185b; /* малина (основной акцент) */
  --color-accent-secondary: #6a1b9a; /* черника (второстепенный акцент) */
  --color-accent-tertiary: #ff6f00; /* облепиха/апельсин (для ярких деталей) */

  /* Neutrals */
  --color-neutral-high: #333333; /* текст (заголовки) */
  --color-neutral-medium: #666666; /* текст (основной) */
  --color-neutral-low: #e0e0e0; /* деликатные границы, иконки, разделители */

  /* Nature Accents */
  --color-accent-soft: #81c784; /* мягкий зелёный (листья, нотка эко) */
  --color-accent-warm: #ffe082; /* тёплый жёлтый (мёд, уют) */

  /* Тёмная тема */
  /* Backgrounds */
  --color-background-primary-dark: #1e1e1e; /* чуть светлее */
  --color-background-secondary-dark: #121212; /* тёмный угольный для карточек/блоков */

  /* Accent Colors */
  --color-accent-primary-dark: #f06292; /* светлая малина */
  --color-accent-secondary-dark: #ba68c8; /* сиренево-ягодный (глубокий акцент) */
  --color-accent-tertiary-dark: #ff8f00; /* облепиховый/тёплый */

  /* Neutrals */
  --color-neutral-high-dark: #ffffff; /* основной текст */
  --color-neutral-medium-dark: #cccccc; /* вторичный текст */
  --color-neutral-low-dark: #444444; /* границы и фоновые элементы */

  /* Nature Accents */
  --color-accent-soft-dark: #aed581; /* светлый зелёный (намёк на свежесть) */
  --color-accent-warm-dark: #ffd54f; /* мягкий янтарный (мёд, специи) */
}

/* Определение основных стилей */
@layer base {
  /*************************************************/
  /* Определение классов для светлой и темной темы */
  /*************************************************/
  /* Светлая тема (по умолчанию) */
  @media (prefers-color-scheme: light) {
    body {
      @apply bg-background-primary text-neutral-high;
    }

    .flashed::before {
      background: linear-gradient(
        267deg,
        var(--color-accent-primary) 3.05%,
        var(--color-accent-tertiary) 40.73%
      );
    }

    header > p,
    .headingPrimary span,
    .hero-section .stats-list li span.value::after {
      background: linear-gradient(
        263deg,
        var(--color-accent-primary) 3.14%,
        var(--color-accent-tertiary) 87.2%
      );
    }

    .app-button {
      &.primary {
        @apply text-background-secondary;
        background: linear-gradient(
          265deg,
          var(--color-accent-primary) 6.79%,
          var(--color-accent-tertiary) 97.2%
        );
      }

      &.secondary {
        @apply border border-neutral-medium;
      }
    }

    .benefits-wrapper {
      @apply bg-background-secondary text-neutral-high;

      & .benefit-card .card-icon .card-icon-decoration::before {
        background: linear-gradient(
          265deg,
          var(--color-accent-soft) 6.79%,
          var(--color-accent-warm) 97.2%
        );

        box-shadow: 0px 2.321px 23.788px 0px var(--color-neutral-low);
      }
    }
  }

  /* Темная тема */
  @media (prefers-color-scheme: dark) {
    body {
      @apply bg-background-primary-dark text-neutral-high-dark;
    }

    .flashed::before {
      background: linear-gradient(
        267deg,
        var(--color-accent-primary-dark) 3.05%,
        var(--color-accent-tertiary-dark) 40.73%
      );
    }

    header > p,
    .headingPrimary span,
    .hero-section .stats-list li span.value::after {
      background: linear-gradient(
        263deg,
        var(--color-accent-primary-dark) 3.14%,
        var(--color-accent-tertiary-dark) 87.2%
      );
    }

    .app-button {
      &.primary {
        @apply text-background-secondary-dark;
        background: linear-gradient(
          265deg,
          var(--color-accent-primary-dark) 6.79%,
          var(--color-accent-tertiary-dark) 97.2%
        );
      }

      &.secondary {
        @apply border border-neutral-medium-dark;
      }
    }

    .benefits-wrapper {
      @apply bg-background-secondary-dark text-neutral-high-dark;

      & .benefit-card .card-icon .card-icon-decoration::before {
        background: linear-gradient(
          265deg,
          var(--color-accent-soft-dark) 6.79%,
          var(--color-accent-warm-dark) 97.2%
        );

        box-shadow: 0px 2.321px 23.788px 0px var(--color-neutral-low-dark);
      }
    }
  }
}

body {
  @apply text-[clamp(14px,2.3vw,20px)] leading-[163.471%] tracking-[clamp(-0.28px,-0.05vw,-0.04px)];
  font-family: "Montserrat", sans-serif;
}

#app {
  @apply overflow-x-hidden;
}

/* Контейнер-обёртка, чтобы окраничить ширину блоков */
.wrap-container {
  @apply mx-6 xl:mx-auto md:max-w-[1270px];
}

/* "Вспышки" под блоками, но не забудьте родительскому тегу задать relative! */
.flashed::before {
  @apply absolute content-[""] w-[clamp(75px,15vw,140px)] h-[clamp(45px,10vw,140px)] blur-[8vw] lg:blur-3xl 
  rounded-full opacity-50 -z-10;
}

/* Родительский элемент для "вспышек" должен быть задан с относительным позиционированием */
*:has(> .flashed) {
  @apply relative;
}

header {
  @apply flex justify-between md:justify-start gap-[clamp(81px,13vw,95px)] leading-[normal] items-center my-10;

  > p {
    @apply font-extrabold tracking-[clamp(-0.66px,-0.12vw,-1.13px)] text-[clamp(22px,4vw,38px)] leading-[140%];
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  > nav > ul {
    @apply text-[clamp(14px,2.3vw,20px)] md:flex gap-[clamp(30px,7vw,95px)];

    > li {
      @apply mb-4 md:mb-0;
    }
  }
}

/**
* Оформление заголовков блоков
*/
.headingPrimary {
  @apply text-[clamp(40px,8.3vw,80px)] font-extrabold leading-[109.471%] tracking-[clamp(-1.44px,-0.25vw,-2.4px)];

  span {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/**
* Оформление компонента "Кнопка"
*/
.app-button {
  @apply rounded-full items-center inline-flex min-h-full;

  &.primary {
    @apply py-[clamp(12px,2.1vw,20px)] px-[clamp(52px,9vw,80px)];
  }
  &.secondary {
    @apply py-[clamp(12px,2.1vw,20px)] px-[clamp(36px,6vw,54px)];
  }
}

.hero-section {
  @apply md:flex md:flex-row-reverse my-[2.25rem] md:my-[2.5rem] lg:my-[3.5rem] xl:my-[4rem];

  & .img-wrapper {
    @apply relative h-fit justify-self-auto xl:flex-1;

    & .img-decoration {
      & img {
        @apply block w-[68%] md:w-[80%] lg:w-[90%] mx-auto md:mr-0
        /* Подготовка к анимации,
          вначале позволяем картинке двигаться, но при этом учитывать её размеры,
          потом указываем начальное положение. */
        relative top-0 
        /* Анимация, название moveDown длится 1.5 секунды,
          потом течёт в обратном направлении (alternate),
          движение не равномерное, а по "краям" замедленное (ease-in-out),
          повторяется бесконечно раз (infinite). */
        animate-[moveDown_1.5s_alternate_ease-in-out_infinite];
      }
    }

    & .img-decoration::before {
      @apply bottom-[clamp(20px,4vw,40px)] left-[clamp(40px,8vw,80px)];
    }

    & .img-decoration::after {
      @apply absolute content-[""] bg-[url(/src/assets/imgs/branch.png)] bg-no-repeat bg-cover bg-center w-[clamp(100px,100vw,1000px)] h-[clamp(50px,50vw,500px)] -z-20 opacity-[25%] -left-1/4 top-[clamp(10px,10vw,100px)];
    }
  }

  & .text-block {
    @apply flex relative flex-col gap-9 justify-between mt-9 md:mt-0 md:w-[90%] lg:w-3/4 xl:w-auto xl:flex-1;

    & .hero-section__heading::before {
      @apply top-[clamp(40px,8vw,80px)] left-[clamp(20px,4vw,40px)];
    }

    & p {
      @apply text-[clamp(12px,2.1vw,20px)];
    }
  }

  /* Ссылки-кнопки-пилюли */
  & .links {
    @apply flex flex-col justify-items-stretch sm:flex-row gap-3 justify-between items-center;

    & a {
      @apply inline-flex items-center justify-center min-h-full w-full sm:w-fit;
    }
  }

  /* Список статистики */
  & .stats-list {
    @apply flex flex-row justify-between;
    & li {
      & span.value {
        @apply text-[clamp(40px,7vw,62px)] leading-[110%] tracking-[clamp(-1.25px,-0.2vw,-1.9px)];
      }
      & span.value::after {
        @apply content-["+"];
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      & span.label {
        @apply text-[clamp(12px,2.1vw,20px)] leading-[144.471%] tracking-[clamp(-0.24px,-0.04vw,-0.4px)];
      }
    }
  }
}

.benefits-wrapper {
  @apply /* Отступы и ограничения блока */
  w-[70%] md:w-[80%] mx-auto rounded-xl mb-9 py-5
  /* Порядок для дочерних элементов */
  flex flex-col md:flex-row gap-5;

  & .benefit-card {
    @apply text-center mx-auto
    /* Дублируем равную ширину */
    flex-1 w-[clamp(130px,25vw,220px)];

    & .card-icon {
      @apply mx-auto mb-3
      /* Задаём размеры картинки карточки */
      w-[clamp(90px,15vw,150px)] h-[clamp(90px,15vw,150px)]
      /* Меняем расположение картинки карточки */
    relative;

      & .card-icon-decoration {
        &::before {
          @apply content-[""] block w-[clamp(90px,15vw,150px)] h-[clamp(90px,15vw,150px)] rounded-full;
        }

        & img {
          @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
        }
      }
    }

    & .card-title {
      @apply text-[clamp(18px,3vw,30px)] font-semibold tracking-[clamp(-0.37px,-0.06vw,-0.64px)] mb-3;
    }

    & .card-description {
      @apply text-[clamp(11px,2.1vw,20px)] tracking-[clamp(-0.24px,-0.04vw,-0.4px)];
    }
  }
}

/* Анимация для картинки в блоке "Герой".
  Поскольку изменение элементарное, то мы описали лишь конечное состояние,
  а начальное состояние будет определено в самом элементе.
*/
@keyframes moveDown {
  to {
    top: 2vw;
  }
}

/* @TODO: Макет - удалить, когда не будет нужен */
.mock-up {
  @apply border p-10 mx-6 xl:mx-auto md:max-w-[1270px];
}
