@import "tailwindcss";

/* Подключение шрифтов */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Определение переменных */
@theme {
  /* Светлая тема */
  /* Backgrounds */
  --color-background-primary: #f9f6f4; /* тёплый белый с кремовым подтоном (натуральное ощущение) */
  --color-background-secondary: #ffffff; /* чистый белый */

  /* Accent Colors */
  --color-accent-primary: #c2185b; /* малина (основной акцент) */
  --color-accent-secondary: #6a1b9a; /* черника (второстепенный акцент) */
  --color-accent-tertiary: #ff6f00; /* облепиха/апельсин (для ярких деталей) */

  /* Neutrals */
  --color-neutral-high: #333333; /* текст (заголовки) */
  --color-neutral-medium: #666666; /* текст (основной) */
  --color-neutral-low: #e0e0e0; /* деликатные границы, иконки, разделители */

  /* Nature Accents */
  --color-accent-soft: #81c784; /* мягкий зелёный (листья, нотка эко) */
  --color-accent-warm: #ffe082; /* тёплый жёлтый (мёд, уют) */

  /* Тёмная тема */
  /* Backgrounds */
  --color-background-primary-dark: #1e1e1e; /* чуть светлее */
  --color-background-secondary-dark: #121212; /* тёмный угольный для карточек/блоков */

  /* Accent Colors */
  --color-accent-primary-dark: #f06292; /* светлая малина */
  --color-accent-secondary-dark: #ba68c8; /* сиренево-ягодный (глубокий акцент) */
  --color-accent-tertiary-dark: #ff8f00; /* облепиховый/тёплый */

  /* Neutrals */
  --color-neutral-high-dark: #ffffff; /* основной текст */
  --color-neutral-medium-dark: #cccccc; /* вторичный текст */
  --color-neutral-low-dark: #444444; /* границы и фоновые элементы */

  /* Nature Accents */
  --color-accent-soft-dark: #aed581; /* светлый зелёный (намёк на свежесть) */
  --color-accent-warm-dark: #ffd54f; /* мягкий янтарный (мёд, специи) */
}

/* Определение основных стилей */
@layer base {
  /*************************************************/
  /* Определение классов для светлой и темной темы */
  /*************************************************/
  /* Светлая тема (по умолчанию) */
  @media (prefers-color-scheme: light) {
    body {
      @apply bg-background-primary text-neutral-high;
    }

    header > p,
    .headingPrimary span {
      background: linear-gradient(
        263deg,
        var(--color-accent-primary) 3.14%,
        var(--color-accent-tertiary) 87.2%
      );
    }

    .app-button {
      &.primary {
        @apply text-background-secondary;
        background: linear-gradient(
          265deg,
          var(--color-accent-primary) 6.79%,
          var(--color-accent-tertiary) 97.2%
        );
      }

      &.secondary {
        @apply border border-neutral-medium;
      }
    }
  }

  /* Темная тема */
  @media (prefers-color-scheme: dark) {
    body {
      @apply bg-background-primary-dark text-neutral-high-dark;
    }

    header > p,
    .headingPrimary span {
      background: linear-gradient(
        263deg,
        var(--color-accent-primary-dark) 3.14%,
        var(--color-accent-tertiary-dark) 87.2%
      );
    }

    .app-button {
      &.primary {
        @apply text-background-secondary-dark;
        background: linear-gradient(
          265deg,
          var(--color-accent-primary-dark) 6.79%,
          var(--color-accent-tertiary-dark) 97.2%
        );
      }

      &.secondary {
        @apply border border-neutral-medium-dark;
      }
    }
  }
}

body {
  @apply text-[clamp(14px,2.3vw,20px)] leading-[163.471%] tracking-[clamp(-0.28px,-0.05vw,-0.04px)];
  font-family: "Montserrat", sans-serif;
}

header {
  @apply flex justify-between md:justify-start gap-[clamp(81px,13vw,95px)] leading-[normal] items-center my-10;

  > p {
    @apply font-extrabold  tracking-[clamp(-0.66px,-0.12vw,-1.13px)] text-[clamp(22px,4vw,38px)] leading-[140%];
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  > nav > ul {
    @apply text-[clamp(14px,2.3vw,20px)] md:flex gap-[clamp(30px,7vw,95px)];

    > li {
      @apply mb-4 md:mb-0;
    }
  }
}

/**
* Оформление заголовков блоков
*/
.headingPrimary {
  @apply text-[clamp(40px,8.3vw,80px)] font-extrabold leading-[109.471%] tracking-[clamp(-1.44px,-0.25vw,-2.4px)];

  span {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/**
* Оформление компонента "Кнопка"
*/
.app-button {
  @apply rounded-full items-center inline-block;

  &.primary {
    @apply py-[clamp(12px,2.1vw,20px)] px-[clamp(52px,9vw,80px)];
  }
  &.secondary {
    @apply py-[clamp(12px,2.1vw,20px)] px-[clamp(36px,6vw,54px)];
  }
}

/* @TODO: Макет - удалить, когда не будет нужен */
.mock-up {
  @apply border p-10 mx-6 xl:mx-auto md:max-w-[1270px];
}

.wrap-container {
  @apply mx-6 xl:mx-auto md:max-w-[1270px];
}
